---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.deps.size > 0 -%}
    <h2 class="post-list-heading">Index</h2>
    <ul class="post-list">
      {% assign deps = site.deps | sort:"dep.number" %}
      {%- for dep in deps -%}
      <li>
        <a class="post-link" href="{{ dep.url | relative_url }}">
          DEP {{ dep.dep.number | escape }}: {{ dep.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
